.lobbytable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.lobbytable td,
.lobbytable th {
  border: 1px solid #ddd;
  padding: 4px;
}

.lobbytable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.lobbytable tr:hover {
  background-color: #ddd;
}

.lobbytable th {
  text-align: left;
  background-color: #39ace7;
  color: white;
}
.lobbytable {
  border-collapse: collapse;
  width: 100%;
}

.title {
  text-align: center;
  display: block;
}
